@forward 'reset';
@forward 'fonts';
@forward 'animations';
@forward 'vcalendar';
@forward 'blocks/container';

html {
  height: 100%;
}

body {
  font-family: 'SF-Pro';
  font-weight: 400;
  height: 100%;

  &.no-scroll {
    overflow: hidden;
  }
}

button {
  font-family: 'SF-Pro';
  font-weight: 400;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  background-color: #f9f9f9;
  flex-grow: 1;
  padding-top: 70px;

  @media screen and (max-width: $breakpoint-lg) {
    padding-top: 30px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
