@import 'v-calendar/style.css';
.vc-main {
  --vc-accent-50: #ff7010;
  --vc-accent-100: #ff7010;
  --vc-accent-200: #ff7010;
  --vc-accent-300: #ff7010;
  --vc-accent-400: #ff7010;
  --vc-accent-500: #ff7010;
  --vc-accent-600: #ff7010;
  --vc-accent-700: #ff7010;
  --vc-accent-800: #ff7010;
  --vc-accent-900: #ff7010;
}
